:host {
  display: block;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  font-size: 13px;
  font-weight: 500;

  input[type='checkbox'] {
    width: auto;
    margin: 0;
    cursor: pointer;
  }
}
